extends bootstrap_base.jade

block title
  title #{data.forum.display_name} - #{data.site.name}
  
  style.
    .marginless {
      margin-top:7px;
      margin-bottom:7px;
      margin-right:15px;
    }

block content        
  .container
    .row

      .col-sm-9.col-md-10
        //split 10/12 for post area
        .row
          .col-md-12
            //img(src='http://bbs.kechuang.org/themes/site/dingzhi/images/logo.png')
            h1 #{data.forum.display_name}
        .row
          .col-xs-8
            p.
              #{data.forum.description}
            a.btn.btn-default(href='/interface/editor?target=#{data.replytarget}') 撰
          .col-xs-4
            p
              span 今 #{data.forum.count_posts_today} | 著 #{data.forum.count_threads} | 復 #{data.forum.count_posts}
            span 督：
            if data.forum.owners
              for i,index in data.forum.owners
                a.d-inline(href='#') #{index?', ':''}#{i.username}
            
        .row
          .col-md-12
            nav
              ul.pagination.marginless
                each val,index in [1,2,3,4,5,6,'>>']
                  if index==0
                    li.active
                      a(href='#')=val
                  else
                    li
                      a(href='#')=val
              ul.pagination.marginless
                each val,index in ['俱','精']
                  if index==0
                    li.active
                      a(href='#')=val
                  else
                    li
                      a(href='#')=val
          
              ul.pagination.marginless
                each val,index in ['復序','帖序']
                  if index==0
                    li.active
                      a(href='#')=val
                  else
                    li
                      a(href='#')=val
                
               
        .ForumThreadList
          each thread,index in data.threads
            include interface_forum_singlethread.jade

                        
          
          a.btn.btn-default(href='/interface/editor?target=#{data.replytarget}') 撰
          
      .col-sm-3.col-md-2
        include interface_forums_list.jade
              
  //include debug_output.jade
