//do sth with the post variable here

if(index==0)
else
  //horizontal line
  hr
  
//post itself
.parent.clearfix(id='p#{post._key}')
  .avatar-left
    a(href='#')
      img.avatar(src='/avatar/#{post.uid}' style='width:64px;')
  
  .content-right
    if(post.t&&post.t!=''&&index!=0)
      h4.d-inline.dirt #{post.t}
    p.d-inline.lighttext
      text #{post.username} - #{fromNow(post.toc)} - 
      a(href='/thread/#{data.thread._key}?post=#{post._key}').lighttext #{dateString(post.toc)} 

      if data.user._key == post.uid
        text  - 
        a(href='/e?target=post/#{post._key}') 编辑
    div.f12.post-body
      //body of post
      case post.l
        when 'markdown'
          div!= markdown(post.c)
        when 'bbcode'
          div!= bbcode(post.c)
        when 'plain'
        default
          div!= plain(post.c)
            
