//refer to forum object as f, count as index..

if index%6==0
  //.clearfix.visible-lg-block
if index%4==0
  .clearfix.visible-md-block
if index%3==0
  .clearfix.visible-sm-block
if index%2==0
  .clearfix.visible-xs-block
//above are necessary when some columns are shorter than others

.col-lg-2-disabled.col-md-3.col-xs-6.col-sm-4
  .HomeForumContainer
    .HomeForumTitle
      a.HomeForumTitlePrimary(href='/forum/#{f._key}') #{f.display_name}
        
      .HomeForumTitleSecondary
        if f.count_posts_today > 0
          span.HomeForumTitlePostCountToday 今 #{f.count_posts_today||""}/ 
          
        span.HomeForumTitleThreadCount #{f.count_threads}/ 
        span.HomeForumTitlePostCount #{f.count_posts}
    hr.hrNarrowSpace
    each thread,index in f.threads
      .HomeThreadItem.f12
        - var avatar = '/avatar_small/' + thread.oc.uid
        .HomeThreadAvatarPosition
          a(href='/thread/#{thread._key}')
            img.HomeThreadAvatar(src='#{avatar}')
          
        a.HomeThreadText(href='/thread/#{thread._key}' title="#{thread.oc.t}")
          span.HomeThreadTextInner #{thread.oc.t} 
          
        .HomeThreadTextRightAlign
          if thread.count>1
            span.lighttext.reddish.f12 #{thread.count-1}
          //span.lighttext.rightalign #{fromNow(thread.lm.toc)}
