extends bootstrap_base.jade

block title
  title #{data.site.name} - #{data.site.description}

block content        
  .container
    .row
      each f,index in data.forums
        .col-md-3.col-xs-6.col-sm-4
          //.panel.panel-default
            //.panel-body
          a.f16(href='/forum/#{f._key}') #{f.display_name}
          span.lighttext &nbsp;#{f.posts_today?f.posts_today:""}
          hr.hrNarrowSpace
          each thread,index in f.threads
            .HomeThreadItem
              - var avatar = '/avatar/' + thread.oc.uid
              .HomeThreadAvatar
                a(href='/thread/#{thread._key}')
                  img.avatar(src='#{avatar}' style='width:24px;height:24px;')
                
              .HomeThreadText
                a(href='/thread/#{thread._key}')
                  span #{thread.oc.t} 
                if thread.count>1
                  span.lighttext.reddish #{thread.count-1} 
                //span.lighttext.rightalign #{fromNow(thread.lm.toc)}
              
                
              
  include debug_output.jade
