extends bootstrap_base.jade

block title
  meta(name='description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')
  
  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')
  
  title #{data.site.name} - #{data.site.description}

block content
  .container-fluid(style='max-width:1400px')

    
    //include interface_home_newest.jade
    
    if data.user
      .row
        .col-md-12
          span 我的板块
          hr.hrNarrowSpace
          
      if data.user.focus_forums && data.user.focus_forums.length>0
        .row
          -var ff = data.user.focus_forums.replace(/，/g,',').split(',').filter(n=>{return n.trim()!=''}).slice(0,12)
          -var userChosenForumArray = []
          -for(fid of ff){for(g of data.grouparray){for(af of g.forumgroup){ if(af._key==fid){af.parentforum = g.parentforum ;userChosenForumArray.push(af)} }}}
          if 1
            each forum,index in userChosenForumArray
              -var parent = forum.parentforum
              include interface_home_singleforum.jade
      else
        .row
          .col-md-12
            |你还没有关注任何板块。
            a(href='/api/operation?operation=viewPersonal') 去个人设置页面
            
      //hr.hrNarrowSpace
      
      if data.permittedOperations.viewQuestions
        :markdown
          科创题库现已面向1学术分以上会员开放。为科创入站测试[添加你的题目](/api/operation?&operation=viewQuestions)吧！
        br
    //hr.hrNarrowSpace
    .ka
      - var cindex = 0
      each group,gindex in data.grouparray
        -var p = group.parentforum
        a(href='/f/#{p._key}' style='font-size:17pt;margin-right:10px;') #{p.display_name}
        span #{p.description}
        hr.hrNarrowSpace
        .row
          
          
          
          - var parent = group.parentforum
          each forum,findex in group.forumgroup 
            - var index = cindex + findex
            include interface_home_singleforum.jade
        
        br
        
        - cindex += group.forumgroup.length
    
    .row
      .col-md-12(style='margin-bottom:10px;')
      
        -var mapping = data.seo_arr
        if mapping
          -for(i in mapping)
            -var fr = i
            -var to = mapping[i].to
            -var display_name = mapping[i].display_name
            a.HomeSEOLink(href='#{fr}') #{display_name}
      
        if data.answersheet_count
          span(style='color:#ccc;display:inline-block;') - [ 学术委员会 ] 已经有 #{'0b'+data.answersheet_count.toString(2).toUpperCase()} 人次通过了测试
    
    .row
      .col-md-12
        include nkc_friendlies.jade
        
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
