- var url = '/t/' + thread._key
- var ocuser = thread.ocuser||{}
- var lmuser = thread.lmuser||{}
- var oc = thread.oc
- var avatar = '/avatar_small/' + oc.uid
- var uid = oc.uid
- var digest = thread.digest
-var has_file = thread.has_file
-var has_image = thread.has_image

.ForumThreadItem

  if 0
    .ForumThreadItemAvatar
      a(href='#{url}')
        img.ForumThreadAvatar(src='#{avatar}')
  .ForumThreadItemContent
    .row
      .col-lg-9.col-md-9.col-sm-8
        .ForumThreadTitle
          .tbl(style='display:table-cell;width:72px;')
            .ForumThreadItemReplyCount #{thread.count-1?(thread.count-1):''}
            
            if 1
              .ForumThreadItemAvatar
                -var uurl = '/user_profile/'+uid
                -var avatar = '/avatar_small/'+uid
                  a(href='#{uurl}')
                    img.HomeThreadAvatar(src='#{avatar}')
          
          .tbl2(style='display:table-cell')
            - var brief = oc.c.replace(/\[.*?]/g,'').trim().slice(0,100)
            //span.f12.ForumThreadDigestText [精]
            a(class='#{digest?"ForumThreadDigestText":""}' href="#{url}" title="#{brief}") #{oc.t} 
            if has_image
              span.ForumThreadHasImage 图
            if has_file
              span.ForumThreadHasImage.ForumThreadHasFile 附
                
            //帖子标题链接
          
            .ForumThreadCreatorInfo

              if 0
                span.lighttext.ForumThreadItemCreationTime #{dateTimeString(thread.toc)}
              
              a.lighttext.ForumThreadItemUsername(href='/user_profile/#{ocuser._key}') #{ocuser.username}
              //帖子发布时间和发布者

      
      
          //楼数
          

    
      .col-lg-3.col-md-3.col-sm-4
        
        .ForumThreadItemReplyInfo
          //.ForumThreadItemReplyCount #{thread.count-1?(thread.count-1) + ' 回复':''}
        
          if Date.now()-thread.tlm<86400000
            span.reddish #{fromNow(thread.tlm)} 
          else
            span #{fromNow(thread.tlm)} 
            //帖子最后回复时间和回复者

          span.ForumThreadItemUsername(href='/user_threads/#{lmuser.uid}') #{lmuser.username}
