extends bootstrap_base.jade

block title
  title #{data.forum.display_name} - #{data.site.name}
  
  style.
    .marginless {
      margin-top:7px;
      margin-bottom:7px;
      margin-right:15px;
    }

block content        
  .container
    .row

      .col-sm-9.col-md-10
        //split 10/12 for post area
        .row
          .col-md-12
            //img(src='http://bbs.kechuang.org/themes/site/dingzhi/images/logo.png')
            h1.ForumName #{data.forum.display_name}
        .row
          .col-xs-8
            p #{data.forum.description}
            
            if data.replytarget
              a.btn.btn-default(style="margin-bottom:10px" href='/interface/editor?target=#{data.replytarget}') 新
            
            
          .col-xs-4
            p
              span 今 #{data.forum.count_posts_today} | 著 #{data.forum.count_threads} | 復 #{data.forum.count_posts}
  
            if data.forum.owners
              span 督：
                a.d-inline(href='#') #{index?', ':''}#{i.username}

        .row
          .col-md-12
            nav
              include interface_navigation_paging.jade
              
              - var paging = data.paging
              - var digest = data.digest
              - var class_str_all = digest?'':'active'
              - var class_str_digest = digest?'active':''
              
              ul.pagination.NavigationPaging
                - var page = paging?paging.page:null
                li(class="#{class_str_all}")
                  a(href='#{toQueryString({page})}') 俱
                  
                li(class="#{class_str_digest}")
                  a(href='#{toQueryString({page,digest:true})}') 精
          
              ul.pagination.NavigationPaging
                each val,index in ['復序','帖序']
                  if index==0
                    li.active
                      a(href='#')=val
                  else
                    li
                      a(href='#')=val
                
               
        .ForumThreadList
          each thread,index in data.threads
            include interface_forum_singlethread.jade

                        
          if data.replytarget
            a.btn.btn-default(style="margin-top:10px" href='/interface/editor?target=#{data.replytarget}') 新
          
      .col-sm-3.col-md-2
        include interface_forums_list.jade
              
  include debug_output.jade
