//do sth with the post variable here

//horizontal line
if(index==0)
else
  hr
  
//post itself
.media
  .media-left.media-top
    a(href='#')
      img.media-object.avatar(src='/avatar/#{post.uid}' style='width:60px;height:60px;')
  .media-body.media-top
    .row
      .col-xs-12
        if(post.t&&post.t!=''&&index!=0)
          h4.d-inline.dirt #{post.t}
        p.d-inline.lighttext #{post.username} - #{fromNow(post.toc)} - #{dateString(post.toc)}
        div.f12
          case post.l
            when 'markdown'
              div!= markdown(post.c)
            when 'bbcode'
              div!= bbcode(post.c)
            when 'plain'
            default
              div!= plain(post.c)
            
