extends bootstrap_base.jade

block title
  title 编辑器 - 科创论坛
  
  include MathJax.jade
  
block content
  
  #ife.container
    if !data.user
      .row
        .col-xs-12.f12
          h1 尚未登录
          :markdown
            请先[登录](/login)。
    else
    
      .row
        .col-md-12
          if data.permittedOperations
            if !data.permittedOperations.postTo
              p.f12.reddish 根据系统记录，您没有发布内容的权限。这可能是因为您忘了参加#[a(href='/exam') 测验]。
      .row
        .col-xs-12.col-sm-7.col-md-6
          h4 编辑内容
          .form-group
            input#title.form-control(type='text' placeholder='标题' value="#{data.original_post?data.original_post.t||'':''}")
            
          .form-group
            textarea#content.form-control(rows='18' placeholder='内容' style='resize:none;') #{data.original_post?data.original_post.c:''}
            
          .form-inline
            .form-group
                input#target.form-control(placeholder='发表至' value='#{(data.replytarget?data.replytarget:"")}')

              select#lang.form-control
                if data.original_post
                  option #{data.original_post.l}
                else
                  option markdown
                  option plain
                  option pwbb
            
              button#post.btn.btn-default(type='submit' style='float:right;') 发表
          hr
          .panel.panel-default
            .panel-body(id='file-uploading' target='resources/')
              //uploader section
              include interface_attachment_uploader_uploader.jade
              
          .panel.panel-default
            .panel-heading.f12 点击插入附件
            .panel-body(id='list-container')
                  
        .col-xs-12.col-sm-5.col-md-6
          h4 预览
          .panel.panel-default
            .panel-body(style="max-height: 700px;overflow-y: scroll;")
              div
                h4#parsedtitle
              div#parsedcontent.ThreadPostBody
          
          .form-group
            button#mathfresh.btn.btn-default(onclick='mathfresh()') 渲染公式
          .form-group
            .ThreadPostBody.lighttext
              :markdown
                Markdown语法小课堂：
                  1. \*\***强调（加粗）**\*\*
                  2. \**特别（斜体）*\*
                  3. ### \#\#\# 标题(记得中间有空格)
                  4. > \> 引用(接着下面要换两行)
                  5. [\[科创论坛\]](//bbs.kechuang.org)(//bbs.kechuang.org)  （站外链接即便不加http://也要加双斜线哟！！！）
                  
                  ```c
                    // 6. 
                    
                    `int i = 0; //用backtick包含一行代码`
                  ```
                  
                  ```c
                    // 7. 
                    
                    ```c
                    int i = 0; //用三个backtick包含一段代码
                    ```
                  ```
                  
                如果想用bbcode：
                  1. 选择语言为pwbb
                  2. <font color=green>[color=green]这样指定颜色[/color]</font>
                
                TeX：在Markdown语法下，请用`\\(`和`\\)`包含inline公式，用`$$`和`$$`包含display公式。
      
  
  include debug_output.jade
block scripts

  script(src='/commonmark/commonmark.js')
  script(src='/plain_escaper.js')
  script(src='/xbbcode/xbbcode.js')
  script(src='/xss/xss.js')
  
  script(src='/react.min.js')
  script(src='/JSXTransformer.js')
  
  script(src='/interface_common.js')
  script(src='/nkc_render.js')
  script(src='/interface_editor.js')
  
  script(src='/interface_attachment_uploader.js')
  script(type='text/jsx;harmony=true' src='/interface_attachment_list_display.js')
  
  if data.replytarget.indexOf('f/')>=0
    script.
      geid('title').focus();
  else
    script.
      geid('content').focus();
  
