extends bootstrap_base.jade

block title
  title 短消息
  meta#replytarget(value='#{data.replytarget}')

block content
  .container
    .row
      .col-md-12
        
        .row
          .form-group.col-sm-3
            input#username.form-control(type='text' placeholder='收信人用户名' value="#{data.receiver||''}")
        
          .form-group.col-sm-7
            input#content.form-control(type='text' placeholder='消息内容')
            
          .form-group.col-sm-2
            button#send.btn.btn-default() 发送
            

        -var smslist = data.smslist
        table.SMSTable
          tr
            td 于
            td 自
            td 至
            td 正文
            td 时间
            
          each s,index in smslist
            -var sender = s.us
            -var receiver = s.ur
            -var senderid = s.s
            -var receiverid = s.r
            -var content = s.c
            tr
              td #{fromNow(s.toc)}
              
              td
                - var uid = sender._key
                - var avatar = '/avatar_small/' + uid
                  a(href='/user_profile/#{uid}')
                    img.HomeThreadAvatar(src='#{avatar}')
                    
                if sender.username == data.user.username
                  .SMSBGSelf #{sender.username}
                else
                  .SMSBGOther(onclick="setReceiver('#{sender.username}')") #{sender.username}
                

              td
                - var uid = receiver._key
                - var avatar = '/avatar_small/' + uid
                  a(href='/user_profile/#{uid}')
                    img.HomeThreadAvatar(src='#{avatar}')
                if receiver.username == data.user.username
                  .SMSBGSelf #{receiver.username} 
                else
                  .SMSBGOther(onclick="setReceiver('#{receiver.username}')") #{receiver.username} 
                
              td
                if sender.username == data.user.username
                  .SMSSentByMe
                    div!=plain(content)
                else
                  .SMSSentByOthers
                    div!=plain(content)
              
              td.lighttext #{dateTimeString(s.toc)}
        
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_messages.js')
