- var url = '/thread/' + thread._key
- var ocuser = thread.ocuser||{}
- var lmuser = thread.lmuser||{}
- var oc = thread.oc
- var avatar = '/avatar_small/' + oc.uid
- var uid = oc.uid
- var digest = thread.digest
.ForumThreadItem
  .ForumThreadItemAvatar
    a(href='#{url}')
      img.ForumThreadAvatar(src='#{avatar}')
  .ForumThreadItemContent
    div
      if digest
        //span.f12.ForumThreadDigestText [精]
        a.f12.ForumThreadDigestText(href="#{url}") #{oc.t} 
      else
        a.f12(href="#{url}") #{oc.t} 
      //帖子标题链接
      .ForumThreadItemReplyCount #{thread.count-1?(thread.count-1) + ' 回复':''}
    
    .ForumThreadCreatorInfo
      span.lighttext.ForumThreadItemCreationTime #{dateTimeString(thread.toc)}
      span.lighttext.ForumThreadItemUsername #{ocuser.username}
      //帖子发布时间和发布者

  
  
      //楼数
    .ForumThreadItemReplyInfo
      //.ForumThreadItemReplyCount #{thread.count-1?(thread.count-1) + ' 回复':''}
    
      span.lighttext #{fromNow(thread.tlm)}
        //帖子最后回复时间和回复者

      span.lighttext() #{lmuser.username}
