extends bootstrap_base.jade

block title
  title 短消息
  meta#replytarget(value='#{data.replytarget}')

block content
  .container
    .row
      .panel.panel-default
        ul.nav.nav-tabs
          - var nowAt = data.tab
            li(class='#{nowAt === 'replies'? 'active': ''}')
              a(href='/sms?&tab=replies') 回复提醒
            li(class='#{nowAt === 'at'? 'active': ''}')
              a(href='/sms?&tab=at') @我的
            li(class='#{nowAt === 'messages'? 'active': ''}')
              a(href='/sms?&tab=messages') 短消息
            li(class='#{nowAt === 'system'? 'active': ''}')
              a(href='/sms?&tab=system') 系统通知

          //nav
          //  include interface_navigation_paging.jade
              
        
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_messages.js')
