//refer to forum object as f, count as index..

if 0
  if index%6==0
    //.clearfix.visible-lg-block
  if index%4==0
    .clearfix.visible-md-block
  if index%3==0
    .clearfix.visible-sm-block
  if index%2==0
    .clearfix.visible-xs-block
  //above are necessary when some columns are shorter than others

.col-lg-3.col-md-4.col-xs-12.col-sm-6
  .HomeForumContainer
    .HomeForumTitle
      a.HomeForumTitlePrimary(href='/f/#{f._key}') #{f.display_name}
        
      .HomeForumTitleSecondary
        if f.count_posts_today > 0
          span.HomeForumTitlePostCountToday #{f.count_posts_today||""}/ 
          
        span.HomeForumTitleThreadCount #{f.count_threads}/ 
        span.HomeForumTitlePostCount #{f.count_posts}
    hr.hrNarrowSpace
    each thread,index in f.threads
      .HomeThreadItem
        - var uid = thread.oc.uid
        - var avatar = '/avatar_small/' + uid
        .HomeThreadAvatarPosition
          a(href='/user_threads/#{uid}')
            img.HomeThreadAvatar(src='#{avatar}')
        
        if !thread.digest
          a.HomeThreadText(href='/t/#{thread._key}' title="#{thread.oc.t}") #{thread.oc.t}        
        else
          a.HomeThreadTextDigest.HomeThreadText(href='/t/#{thread._key}' title="#{thread.oc.t}") #{thread.oc.t}
          
        .HomeThreadTextRightAlign
          if thread.count>1
            span #{thread.count-1}
          //span.lighttext.rightalign #{fromNow(thread.lm.toc)}
