extends bootstrap_base.jade

block title
  title 短消息
  meta#replytarget(value='#{data.replytarget}')

block content
  -function changeTime(value)
    -var add_0 = function(value)
      -if(value <= 9)
        -return '0' + value;
      -else
        -return value;
    -var time = new Date(parseInt(value));
    -var out = time.getFullYear() + '-' + add_0(time.getMonth()+1) + '-' + add_0(time.getDate()) + ' ' + add_0(time.getHours()) + ':' + add_0(time.getMinutes()) + ':' + add_0(time.getSeconds());
    -return out;
  //-拿到data里面的数据
  -var nowAt = data.tab;
  -var page = (data.paging.page) ? data.paging.page + 1 : 1;
  -var pageCount = data.paging.pagecount;
  -var obj = {replies: '回复', at: '@', messages: '短消息', system: '系统'};
  -var docs = data.docs;

  .container
    .row
      .panel.panel-default(style='overflow:hidden;')
        .col-xs-12.col-md-12
          ul.nav.nav-tabs(style='margin-top: 0.5em;')
            li(class='#{nowAt === "replies"? "active": ""}')
              a(href='/sms?&tab=replies') 回复提醒
            li(class='#{nowAt === "at"? "active": ""}')
              a(href='/sms?&tab=at') @我的
            li(class='#{nowAt === "messages"? "active": ""}')
              a(href='/sms?&tab=messages') 短消息
            li(class='#{nowAt === "system"? "active": ""}')
              a(href='/sms?&tab=system') 系统通知
        .col-xs-12.col-md-12(style="margin:0.4em 0 0 0")
          nav(aria-label='navigation')
            ul.pagination(style="margin:0")
              -if(pageCount > 1)
                //- 当前页数若大于4则显示首页按钮
                //- 若总的分页数小于7则不需要显示首页和尾页按钮
                -if(page > 4 && pageCount > 7)
                  li
                    a(href='/sms?&page=1&tab=#{nowAt}') 首
                //- n为总共需要显示的分页按钮个数
                //- i为循环中当前生成的页数
                -var n = 7;
                -var min = pageCount - 3;
                -if(page > min)
                  -min = pageCount - 6;
                -else
                  -min = page - 3;
                -for(var i = min ; 1 ; i++)
                  -if(n == 0)
                    -break;
                  -if(i <= 0)
                    -continue;
                  -if(i > pageCount)
                    -break;
                  //- 生成当前所在也输得按钮时，有蓝色背景，不可点击
                  -if(i == page)
                    li.active
                      a(href='###') #{i}
                  -else
                    li
                      a(href='/sms?&page=#{i}&tab=#{nowAt}') #{i}
                  -n--;
                //- 当前页数若小于 最大分页数-3 则显示尾页按钮
                -if(page < pageCount - 3 && pageCount > 7)
                  li
                    a(href='/sms?&page=#{pageCount}&tab=#{nowAt}') 末
        -if(nowAt === 'replies')
          .col-xs-12.col-md-12
            -for(var i = 0 ; i < docs.length; i++)
                hr(style='margin:0.5em 0;')
                .media(style='margin:0;')
                  span #{changeTime(docs[i].fromPost.toc)}
                  .media-left.media-top
                    a(href='/m/#{docs[i].fromPost.uid}')
                      img.media-object.img-rounded(src='/avatar/#{docs[i].fromPost.uid}',alt='name',style='height:4em;width:4em;')
                  .media-body
                    h4.media-heading
                      a(href='/m/#{docs[i].fromPost.uid}') #{docs[i].fromPost.username}
                      span(style="font-size:0.8em;") 在帖子
                      a(href='/t/#{docs[i].fromPost.tid}##{docs[i].fromPost._key}') #{docs[i].toPost.t||docs[i].toPost.tid}
                      span(style="font-size:0.8em;") 下回复了你：
                      p(style="font-size:0.8em;") #{docs[i].fromPost.c}
            hr(style='margin:0.5em 0;')
        -if(nowAt === 'at')
          .col-xs-12.col-md-12
            -for(var i = 0 ; i < docs.length; i++)
                hr(style='margin:0.5em 0;')
                .media(style='margin:0;')
                  span #{changeTime(docs[i].post.toc)}
                  .media-left.media-top
                    a(href='/m/#{docs[i].post.uid}')
                      img.media-object.img-rounded(src='/avatar/#{docs[i].post.uid}',alt='name',style='height:4em;width:4em;')
                  .media-body
                    h4.media-heading
                      a(href='/m/#{docs[i].post.uid}') #{docs[i].post.username}
                      span(style="font-size:0.8em;") 在帖子
                      a(href='/t/#{docs[i].post.tid}##{docs[i].post._key}') #{docs[i].oc.t||docs[i].oc.tid}
                      span(style="font-size:0.8em;") 下@了你：
                      p(style="font-size:0.8em;") #{docs[i].post.c}
            hr(style='margin:0.5em 0;')



        .col-xs-12.col-md-12(style="margin:0.4em 0 0 0")
          nav(aria-label='navigation')
            ul.pagination(style="margin:0")
              -if(pageCount > 1)
                //- 当前页数若大于4则显示首页按钮
                //- 若总的分页数小于7则不需要显示首页和尾页按钮
                -if(page > 4 && pageCount > 7)
                  li
                    a(href='/sms?&page=1&tab=#{nowAt}') 首
                //- n为总共需要显示的分页按钮个数
                //- i为循环中当前生成的页数
                -var n = 7;
                -var min = pageCount - 3;
                -if(page > min)
                  -min = pageCount - 6;
                -else
                  -min = page - 3;
                -for(var i = min ; 1 ; i++)
                  -if(n == 0)
                    -break;
                  -if(i <= 0)
                    -continue;
                  -if(i > pageCount)
                    -break;
                  //- 生成当前所在也输得按钮时，有蓝色背景，不可点击
                  -if(i == page)
                    li.active
                      a(href='###') #{i}
                  -else
                    li
                      a(href='/sms?&page=#{i}&tab=#{nowAt}') #{i}
                  -n--;
                //- 当前页数若小于 最大分页数-3 则显示尾页按钮
                -if(page < pageCount - 3 && pageCount > 7)
                  li
                    a(href='/sms?&page=#{pageCount}&tab=#{nowAt}') 末
    p #{JSON.stringify(data)}













 //-          -var obj = {replies: '回复', at: '@', messages: '短消息', system: '系统'}
 //-            h4 #{obj[nowAt]}
 //-            for doc in data.docs = data.docs;

 //- docs.length           if(nowAt === 'replies')
 //-                div #{doc.fromPost.c}
 //-              if(nowAt === 'at')
 //-                div #{doc.user}
 //-              if(nowAt === 'messages')
 //-                if(!data.conversation)
 //-                  div
 //-                    a(href='/sms?&tab=messages&conversation=#{doc.conversation._key}') #{doc.conversation.username + '说' + doc.group[0].c}
 //-                else
 //-                  div #{doc.s} #{doc.c}
 //-              if(nowAt === 'system')
 //-                div #{doc.c}

          //nav
          //  include interface_navigation_paging.jade
                
        
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_messages.js')
