- var threadlist = threadlist
  .col-lg-4.col-md-4.col-sm-6.col-xs-12
    H4 #{listtitle}
    hr.hrNarrowSpace
    each thread,index in threadlist
      
      .HomeLatestThreadItem
        .HLToc            
          .HLMtext
            
            if threadlist == data.latestThreads
              //.HLMstat #{fromNowAbbr(thread.tlm)}
              .HLMstat.HLTstat #{thread.count}
              
            if threadlist == data.newestDigestThreads
              //.HLMstat #{fromNowAbbr(thread.toc)}
              .HLMstat.HLTstat #{thread.count}
              
            if threadlist == data.newestThreads
              //.HLMstat #{fromNowAbbr(thread.toc)}
              .HLMstat.HLTstat #{thread.count}
            
            
            if thread.forum && thread.forum.abbr
              span.HLTtitletext #{thread.forum.abbr} 
              
            - var titletext = thread.oc.t
            a.HLTtitletext(href='/t/#{thread._key}') #{titletext}
            
