-var type
  if obj.type == 1
    -type = 'Po'
  else if obj.type == 2
    -type = 'Re'
  .activity
    .activity-type
      div.activity-type-text #{type}
      div.activity-type-date #{fromNow(obj.time)}
    .activity-user
      a(href='/activities/#{obj.uid')
        img.activity-user-avatar(src='/avatar/#{obj.uid}')
      a(href='/activities/#{obj.user._key}') #{obj.user.username}
    .activity-info
      .activity-title
        if(obj.forum)
          -var color = obj.forum.color || 'orange'
          a(href='/f/#{obj.fid}')
            span.activity-title-forum(style='background-color: #{color};') &nbsp;#{obj.forum.abbr}&nbsp;
        if(obj.toMyForum)
          -var color = obj.toMyForum.color || 'orange'
          a(href='/m/#{obj.toMyForum._key}')
            span.activity-title-forum(style='background-color: #{color};') &nbsp;#{obj.toMyForum.abbr}&nbsp;
        if(obj.myForum)
          -var color = obj.myForum.color || 'orange'
          a(href='/m/#{obj.myForum._key}')
            span.activity-title-forum(style='background-color: #{color};') &nbsp;#{obj.myForum.abbr}&nbsp;
        a(href='/t/#{obj.tid}')
          span(style='overflow: hidden;') #{obj.oc.t}
      a(href='/t/#{obj.tid}##{obj.pid}' style='overflow: hidden;')
        .activity-content #{obj.post.c}