extends bootstrap_base

block title
  meta(name='description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')

  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')

  title #{data.site.name} - #{data.site.description}

block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-md-9
        .panel(style='height: 310px; border: none; box-shadow: none;')
          .col-xs-12.col-sm-6
            .Gallery
              a#GalleryImageA
                img#GalleryImage(src='')
              .GalleryTitle
                a#GalleryTitle
                a#GalleryAuthor
                a#GalleryForumName
              .GalleryNavigation
                span#GalleryNavigationLeft <
                span#GalleryNavigationRight >
          -var threadlist = data.newestDigestThreads
          -var listtitle = '全站精华'
          include interface_home_newest

        div(style='width: 100%; margin-bottom: 13px;')
          for cForum in data.indexForumList
            a(style='margin: 2px 5px;' href='/f/#{cForum._key}') #{cForum.display_name}
        .nkcpanel
          nav
            include interface_navigation_paging.jade

            - var paging = data.paging
            - var digest = data.digest
            - var class_str_all = digest?'':'active'
            - var class_str_digest = digest?'active':''

            - var cat = data.cat
            - var sortby = data.sortby
            - var class_str_sortby_toc = sortby?'active':''
            - var class_str_sortby_tlm = sortby?'':'active'

            ul.pagination.NavigationPaging
              - var page = paging?paging.page:null
              li(class="#{class_str_all}")
                a(href='#{toQueryString({cat})}') 俱

              li(class="#{class_str_digest}")
                a(href='#{toQueryString({cat, digest: true})}') 精

            ul.pagination.NavigationPaging
              li(class='#{class_str_sortby_tlm}')
                a(href='#{toQueryString({cat, digest})}') 复序
              li(class='#{class_str_sortby_toc}')
                a(href='#{toQueryString({cat, digest, sortby: "toc"})}') 帖序


          hr.hrNarrowSpace
          for thread in data.indexThreads
            include interface_index_singlethread
          nav
            include interface_navigation_paging.jade

      .col-md-3.hidden-xs.hidden-sm
        .nkcpanel
          include forum_logo_wisdom

        -var user = data.user
        if user
          include interface_thread_userpatch.jade

        .nkcpanel 一周活跃用户
          for user in data.activeUsers
            div(style='padding: 5px; width: 100%;')
              img(src='/avatar/#{user.uid}' style='width:36px;height:36px;border-radius:6px;')
              a(href='user_profile/'+ user.uid style='margin-left: 20px; display: inline-block;') #{user.username}
              span(style='color: #d6571c; margin-right: 0; display: inline-block;') (帖:#{user.lWThreadCount} 复:#{user.lWPostCount})
        for cForum in data.indexForumList
          .nkcpanel
            div(style='text-align: center; font-size: 16px; margin-left: -15px;')
              div(style='background-color: #{cForum.color}').HomeForumTitleCircle
              a(href='f/#{cForum._key}') #{cForum.display_name}
            hr.hrNarrowSpace
            for child in cForum.children
              div
                a(href='f/#{child._key}' style='font-size: 15px;') #{child.display_name}
                span(style='color: #d6571c;') (新:#{child.count_posts_today} 总:#{child.count_posts})
                if child.description != null
                  -var description = child.description
                  p(style='color: grey;') &nbsp;&nbsp;#{description}
block scripts
  script(src='/interface_common.js')
  script(src='/interface_panorama.js')