extends bootstrap_base.jade

block title
  title #{data.oc.t} - 科创论坛
  meta#replytarget(value='#{data.replytarget}')
  
block content
  .container
    .row
      
      .col-sm-9.col-md-10
        .ThreadBox
          if data.posts.length == 0
            h2 您要找的帖子不存在。
          else
            - var fid = data.thread.fid
            .ThreadTitle
              - var forumname = data.forum.display_name
              a.ThreadTitleForumLink(href='/forum/#{fid}') #{forumname} 
              
              a.ThreadTitleText(href='/thread/#{data.thread._key}') #{data.oc.t} 
                
              .ThreadTitleAuxillary.d-inline.lighttext
                                
                .ThreadTitleAuxillaryLink
                - var po = data.permittedOperations
                - if(po.addThreadToCart)
                  a(href="javascript:cartThread('#{data.thread._key}')") 加入管理车
            
            include interface_navigation_paging.jade      
            //hr.ThreadTitleHr
            .ThreadPostList
              each post,index in data.posts
                include interface_thread_singlepost.jade
              
            br
            include interface_navigation_paging.jade
            hr.ThreadSinglePostHr
            a.btn.btn-default(href='/e?target=#{data.replytarget}') 回复
              
                
      .col-sm-3.col-md-2
        include interface_forums_list.jade
  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_thread.js')
      
                
