//do sth with the post variable here

if !post.disabled
  //horizontal line
  hr(id='#{post._key}').ThreadSinglePostHr
  
  - var uid = post.uid
  - var user = post.user
  //post itself
  .parent.clearfix(id='p#{post._key}')
    .avatar-left
      - var title = user?getUserDescription(user):''
      a(href='/user_threads/#{uid}' title='#{title}')
        img.ThreadPostAvatar(src='/avatar/#{post.uid}')
    
    .content-right
      if(post.t&&post.t!=''&&index!=0)
        span.dirt.ThreadPostTitle #{post.t}
      .ThreadPostTitleMeta
        .ThreadPostTitleUsername #{user?user.username:''}
        span.lighttext #{fromNow(post.toc)} - 
        a(href='/t/#{data.thread._key}?post=#{post._key}').lighttext #{dateTimeString(post.toc)} 
        
      .ThreadTitleAuxillaryLink
        - var po = data.permittedOperations
        - if(po.postTo)
          a(href="javascript:quotePost('#{post._key}')") 引用
          
        - if(po.addPostToCart)
          a(href="javascript:cartPost('#{post._key}')") 加入管理车
          
        if data.user
          - var user = data.user
          - var ownership = user._key===uid
          - if(testModifyTimeLimit(data,ownership,post.toc))
            a(href='/e?target=post/#{post._key}') 编辑
            
      div.ThreadPostBody!= experimental_render(post)

      if post.toc!=post.tlm
        p.lighttext [修改于 #{fromNow(post.tlm)} - #{dateString(post.tlm)}]
      //span #{post.user?post.user.post_sign:''}
      
      if post.credits
        .ThreadPostCredits
          each c,index in post.credits
            .ThreadPostCreditItem
              .TPCQ #{(c.q>0?'+':'-')}#{c.q}
              .TPCType #{creditString(c.type)}
              .TPCIA
                a(href='/user_threads/#{c.uid}')
                  img.TPCIAI(src='/avatar_small/#{c.uid}')
                  
              .TPCIssuer #{c.username||c.uid}
              .TPCDate #{dateTimeString(c.toc).split(' ')[0]}
              .TPCReason #{c.reason}                
  
else
  
            
