extends bootstrap_base.jade

block title
  - var thread = data.thread
  title #{thread.oc.t} - 科创论坛
  meta#replytarget(value='#{data.replytarget}')
  
  include MathJax.jade
  
  if (thread.oc&&thread.oc.c)
    -var processed=thread.oc.c.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
    
    meta(name='description' content='#{processed}')
    
    meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
    meta(property='og:title' content='#{thread.oc.t}')
    meta(property='og:site_name' content='科创论坛')
    meta(property='og:description' content='#{processed}')
    
    meta(property='article:published_time' content='#{(new Date(thread.oc.toc)).toISOString()}')
    meta(property='article:author' content='#{data.ocuser?data.ocuser.username:""}')
  
  
block content
  .container
    .row
      
      .col-sm-9.col-md-10
        .ThreadBox
          if data.posts.length == 0
            h2 您要找的帖子可能不存在 / 翻页过度，请后退
          else
            - var thread = data.thread
            - var fid = thread.fid
            .ThreadTitle
              - var forumname = data.forum.display_name
              a.ThreadTitleForumLink(href='/f/#{fid}') #{forumname} 
              
              a.ThreadTitleText(href='/t/#{data.thread._key}') #{thread.oc.t}
                
              .ThreadTitleAuxillary.d-inline.lighttext
                                
              .ThreadTitleAuxillaryLink
                - var po = data.permittedOperations
                - if(po.addThreadToCart)
                  a(href="javascript:cartThread('#{data.thread._key}')") 加入管理车
                if (po.setDigest)
                  if thread.digest
                    a(href="javascript:setDigest('#{data.thread._key}')") 撤销精华
                  else
                    a(href="javascript:setDigest('#{data.thread._key}')") 设置精华

            
            include interface_navigation_paging.jade      
            //hr.ThreadTitleHr
            .ThreadPostList
              each post,index in data.posts
                include interface_thread_singlepost.jade
              
            br
            include interface_navigation_paging.jade
            hr
            
            if data.permittedOperations
              if data.permittedOperations.postTo
                .form-group
                  a.f12(href='/e?target=#{data.replytarget}') 回复（去编辑器）

                .form-group
                  textarea#ReplyContent.form-control(rows='4' placeholder='快速回复 （默认markdown语法）' style='resize:none;')
                
                .form-group
                  button#ButtonReply.btn.btn-default(onclick='submit()') 快速回复
              
            if data.user
              if !data.permittedOperations.postTo
                p.f12.reddish 新科创论坛要求每一位老用户必须通过测验才能发帖。参加#[a(href='/exam') 这个测验]。
                
              if !data.permittedOperations.viewExam && !data.permittedOperations.postTo
                p.f12.reddish 根据系统记录，你的账号已经被封禁，请重新注册。
                
                
      .col-sm-3.col-md-2
        include interface_forums_list.jade
  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_thread.js')
      
                
