extends bootstrap_base.jade

block title
  title #{data.forum.display_name} - #{data.site.name}
  
  -var forum  = data.forum
  if forum.description
    -var processed=forum.description.replace(/\[.*?]|\#|\n|\<.*?>/gm,'').trim().slice(0,140)
  else
    -var processed = forum.display_name
    
  meta(name='description' content='#{processed}')
  
  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='#{forum.display_name}')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='#{processed}')
  
  if data.threads.length>0
    meta(property='article:modified_time' content='#{(new Date(data.threads[0].toc)).toISOString()}')
  
  style.
    .marginless {
      margin-top:7px;
      margin-bottom:7px;
      margin-right:15px;
    }

block content        
  .container
    .row

      .col-sm-9.col-md-10
        //split 10/12 for post area
        .row
          .col-md-12
            //img(src='http://bbs.kechuang.org/themes/site/dingzhi/images/logo.png')
            
            -var forum = data.forum
            .ForumTitleCircle(style='background-color:#{forum.color}')
            .ForumName #{forum.display_name}
        .row
          .col-xs-8
            if data.forum.description
              div!=markdown_safe(data.forum.description)
              
            .form-inline(style='margin-top:12px;margin-bottom:12px')
              if data.replytarget
                .form-group
                  a.btn.btn-default(href='/editor?target=#{data.replytarget}') 新帖
            
            
            
              .form-group
                button#enterManagementMode.btn.btn-default(onclick='enterManagementMode()') 管理
                
            .ForumManagement(style='display:none;margin-top:12px;margin-bottom:12px')
              
              if data.permittedOperations.addThreadToCollection
                .form-inline
                  .form-group
                    .input-group
                      input#category.form-control(type='text' placeholder='输入收藏夹名称' value='')
                      span.input-group-btn
                        button#addSelectedToMyCollection.btn.btn-default(onclick='addSelectedToMyCollection()') 添加选中帖子到我的收藏

              .form-inline(style='margin-top:10px')
                .form-group
                  button.btn.btn-default(onclick='selectbtn()') 全选/不选  

                if data.permittedOperations.moveThread
                  .form-group
                    .btn-group
                      button#moveThreadToForum.btn.btn-default.dropdown-toggle(data-toggle='dropdown' type='button') 移动到板块
                        span.caret
                      ul.dropdown-menu
                          
                        - var cindex = 0
                        each group,gindex in data.forumlist        
                          - var parent = group.parentforum
                          each forum,findex in group.forumgroup 
                            - var index = cindex + findex
                            - var fid = forum._key; var name = forum.display_name
                              li
                                a(href="javascript:moveThreadToForum('#{fid}')") #{name}
                                
                          - cindex += group.forumgroup.length
                
                  .form-group
                    button#recyclebtn.btn.btn-danger(onclick='recyclebtn()') 送回收站
                

            
            
          .col-xs-4
            p
              span 今日:#{data.forum.count_posts_today} 主题:#{data.forum.count_threads} 回复: #{data.forum.count_posts}
  
            if data.forum.moderators
              span 版主：
                - var moderators = data.forum.moderators
                each k in moderators
                  a.d-inline.margin-right(href='/user_profile_byname/#{k}') #{k}

        .row
          .col-md-12
            nav
              include interface_navigation_paging.jade
              
              - var paging = data.paging
              - var digest = data.digest
              - var class_str_all = digest?'':'active'
              - var class_str_digest = digest?'active':''
              
              ul.pagination.NavigationPaging
                - var page = paging?paging.page:null
                li(class="#{class_str_all}")
                  a(href='#{toQueryString({})}') 俱
                  
                li(class="#{class_str_digest}")
                  a(href='#{toQueryString({digest:true})}') 精
          
              ul.pagination.NavigationPaging
                each val,index in ['復序','帖序','施工中']
                  if index==0
                    li.active
                      a(href='#')=val
                  else
                    li
                      a(href='#')=val
              
                  
              
        if data.toppedThreads && data.toppedThreads.length>0
          .ForumThreadList
            each thread,index in data.toppedThreads
              include interface_forum_singlethread.jade
          //hr.hrNarrowSpace
              
        .ForumThreadList
          each thread,index in data.threads
            include interface_forum_singlethread.jade

        .row
          .col-md-12
            nav
              include interface_navigation_paging.jade
          
            if data.replytarget
              a.btn.btn-default(style="margin-top:10px" href='/editor?target=#{data.replytarget}') 新帖
          
      .col-sm-3.col-md-2
        include interface_forums_list.jade
              
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
  script(src='/interface_collections.js')
  script(src='/interface_forum.js')
  
  -var isModerator = data.permittedOperations.moveThread
  if isModerator
    script.
      enterManagementMode()
