extends bootstrap_base.jade


block title
  link(href='/interface_experimental.css' rel='stylesheet')
  title #{data.username}的关注与粉丝
block content
  -var targetUser = data.targetUser;
  -var users = data.users;
  -var subscribeUsersClass = '';
  -var subscribersClass = '';
  -if(users.list && users.list != '')
    -subscribeUsersClass = 'active';
  -else
    -subscribersClass = 'active';
  .container
    .row
      .media
        .media-left
          a(href='/m/#{targetUser._key}')
            img.media-object(src="/avatar/#{targetUser._key}",alt="#{targetUser.username}")
        .media-body
          h4.media-heading
            a(href='/m/#{targetUser._key}') #{targetUser.username}
          p #{targetUser.description || ''}
      ul.nav.nav-tabs
        li(class="#{subscribeUsersClass}",role="presentation")
          a(href='/subscribe?&uid=#{data.targetUser._key}&list=subscribeUsers') 关注
        li(class="#{subscribersClass}",role="presentation")
          a(href='/subscribe?&uid=#{data.targetUser._key}') 粉丝
      br
      -var usersList = data.users.userslist;
      ul.media-list
        -for(var i = 0; i < usersList; i++ )
          li.media
            .media-left
              a(href="/m/#{usersList[i]._key}")
                img.media-object(src="/avatar/#{usersList[i]._key}",alt="#{usersList[i].username}",style="height:5em;width:5em;")
            .media-body
              h4.media-heading
                a(href="/m/#{usersList[i]._key}") #{usersList[i].username}
              p #{usersList[i].description || ''}

  p #{JSON.stringify(data)}
