extends bootstrap_base.jade


block title
  link(href='/interface_experimental.css' rel='stylesheet')
  title #{data.username}的关注与粉丝
block content
  -var user = data.user;
  -var users = data.users;
  .container
    .row
      .media
        .media-left
          a(href='/m/#{user._key}')
            img.media-object(src="/avatar/#{user._key}")
        .media-body
          h4.media-heading
            a(href='/m/#{user._key}') #{user.username}
          p #{user.description || ''}
