- var threadlist = threadlist
  .col-lg-3.col-md-4.col-sm-6.col-xs-12
    H4 #{listtitle}
    hr.hrNarrowSpace
    each thread,index in threadlist
      
      .HomeLatestThreadItem
        .HLToc            
          .HLMtext
            .HLMstat #{fromNowAbbr(thread.lm.toc)}
            
            //.HLMstat.HLTstat #{thread.count}
            
            - var titletext = thread.oc.t
            a.HLTtitletext(href='/t/#{thread._key}') #{titletext}
            
