extends bootstrap_base.jade

block title
  meta(name='description' content='华语世界最纯粹的科技/文艺/爱好社区。')
  
  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/kclogo_umaru1_nc.png')
  meta(property='og:title' content='论坛主页')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='华语世界最纯粹的科技/文艺/爱好社区。')
  
  title #{data.site.name} - #{data.site.description}

block content        
  .container-fluid(style='max-width:1400px')

    
    //include interface_home_newest.jade
    
    .row
      .col-md-12(style='margin-bottom:10px;')
      
        -var mapping = data.seo_arr
        if mapping
          -for(i in mapping)
            -var fr = i
            -var to = mapping[i].to
            -var display_name = mapping[i].display_name
            a.HomeSEOLink(href='#{fr+"?&digest=true"}') #{display_name}
      
        span(style='color:#ccc;display:inline-block;') - [ 学术委员会 ] 已经有 #{data.answersheet_count} 人次通过了测试
    
    .row
      - var cindex = 0
      each group,gindex in data.grouparray
        - var parent = group.parentforum
        each forum,findex in group.forumgroup 
          - var index = cindex + findex
          include interface_home_singleforum.jade
          
        - cindex += group.forumgroup.length
    
    
    .row
      .col-md-12
        hr.hrNarrowSpace
        :thru
          <ul class="HomeFriendlyLink">
          <li><a href="http://www.leiphone.com/" target="_blank">雷锋网</a></li>
          <li><a href="http://gyhj.org/" target="_blank">故园怀旧</a></li>
          <li><a href="http://www.5csf.com" target="_blank">5C科幻协会</a></li>
          <li><a href="http://www.timestation.cn" target="_blank">准时钟表网</a></li>
          <li><a href="http://www.hellocq.net/forum" target="_blank">hellocq火腿社区</a></li>
          <li><a href="http://www.moz8.com" target="_blank">模友之吧</a></li>
          </ul>
    
  include debug_output.jade

block scripts
  script(src='/interface_common.js')
