extends bootstrap_base.jade

block title
  title #{data.thread.oc.t} - 科创论坛
  meta#replytarget(value='#{data.replytarget}')
  
block styles
  include nkc_styles.jade
  
block content
  include nkc_navbar.jade
  
  .container
    .row
      .col-md-9
        div(style='margin-bottom: 10px;')
          if data.posts.length == 0
            h3 您要找的帖子不存在。
          else
            h3.d-inline #{data.thread.oc.t}
            p.d-inline.lighttext(style='margin-left: 10px; vertical-align:text-bottom;').
              回到 #[a.lighttext(href='/forum/#{data.thread.fid}') #{data.thread.fid}] 
       
        .panel.panel-default
          .panel-body
            each post,index in data.posts
              include interface_thread_singlepost.jade
          
            hr
            a.btn.btn-default(href='/interface/editor?target=#{data.replytarget}') 回帖

  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_thread.js')
      
                
