extends bootstrap_base.jade

block title
  title #{data.thread.oc.t} - 科创论坛
  meta#replytarget(value='#{data.replytarget}')
  
block content
  .container
    .row
      
      .col-sm-9.col-md-10
        .ThreadBox
          if data.posts.length == 0
            h2 您要找的帖子不存在。
          else
            .ThreadTitle
              h2.d-inline #{data.thread.oc.t}
              .ThreadTitleAuxillary.d-inline.lighttext
                span 回到 
                a.lighttext(href='/forum/#{data.thread.fid}') #{data.thread.fid} 
                
                a(href="javascript:cartThread('#{data.thread._key}')") 加入管理车
            hr.ThreadTitleHr
            .ThreadPostList
              each post,index in data.posts
                include interface_thread_singlepost.jade
                
                //horizontal line
                hr.ThreadSinglePostHr
              
              a.btn.btn-default(href='/interface/editor?target=#{data.replytarget}') 回帖
                
      .col-sm-3.col-md-2
        include interface_forums_list.jade
  include debug_output.jade
    
block scripts
  script(src='/interface_common.js')
  script(src='/interface_thread.js')
      
                
