-var p = p
.panel.panel-default
  .panel-body
    p.reddish #{dateTimeString(p.tlm)} 
    p 作者：
      a(href='/user_profile/#{p.uid}') #{p.uid}
    
    p 语言：#{p.l}
    
    hr.hrNarrowSpace
      
    div!=plain(p.c)
  
