//do sth with the post variable here

if !post.disabled
  //horizontal line
  hr.ThreadSinglePostHr
  
  - var uid = post.uid
  - var user = post.user
  //post itself
  .parent.clearfix(id='p#{post._key}')
    .avatar-left
      a(href='/user_threads/#{uid}' title='#{user.username}')
        img.ThreadPostAvatar(src='/avatar/#{post.uid}')
    
    .content-right
      if(post.t&&post.t!=''&&index!=0)
        span.dirt.ThreadPostTitle #{post.t}
      .ThreadPostTitleMeta
        span #{user?user.username:''} - #{fromNow(post.toc)} - 
        a(href='/thread/#{data.thread._key}?post=#{post._key}').lighttext #{dateString(post.toc)} 
        
      .ThreadTitleAuxillaryLink
        - var po = data.permittedOperations
        - if(po.addPostToCart)
          a(href="javascript:cartPost('#{post._key}')") 加入管理车
          
        if data.user
          - var user = data.user
          - var ownership = user._key===uid
          - if(testModifyTimeLimit(data,ownership,post.toc))
            span  - 
            a(href='/e?target=post/#{post._key}') 编辑
            
      div.ThreadPostBody!= experimental_render(post)

      if post.toc!=post.tlm
        p.lighttext [修改于 #{fromNow(post.tlm)} - #{dateString(post.tlm)}]
      //span #{post.user?post.user.post_sign:''}
  
else
  
            
