extends bootstrap_base

block title
  meta(name='description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')

  meta(property='og:image' content='http://bbs.kechuang.org/resources/site_specific/umaru_chem_300x200.png')
  meta(property='og:title' content='科创论坛')
  meta(property='og:site_name' content='科创论坛')
  meta(property='og:description' content='从这里开始你的发现之旅。华语世界最纯粹的科技/文艺/爱好社区, Since 2001.')

  title #{data.site.name} - #{data.site.description}

block content
  .container-fluid(style='max-width: 1400px;')
    .row
      .col-md-9
        .panel(style='height: 310px; border: none; box-shadow: none;')
          -var target = 'index'
          include gallery
          -var threadlist = data.newestDigestThreads
          -var listtitle = '推荐阅读'
          include interface_recommend_thread
        .clearfix

        div(style='width: 100%; margin-bottom: 13px;')
          p(style='color: orange; padding: 5px 5px;')
            span(style='font-size: 17px;') 学院分区
            span(style='color: grey;') (发帖请进入对应分区)
          for cForum in data.indexForumList
            a(style='margin: 2px 5px;' href='/f/#{cForum._key}') #{cForum.display_name}
        .panel
          nav
            include interface_navigation_paging.jade

            - var paging = data.paging
            - var digest = data.digest
            - var class_str_all = digest?'':'active'
            - var class_str_digest = digest?'active':''

            - var cat = data.cat
            - var sortby = data.sortby
            - var class_str_sortby_toc = sortby?'active':''
            - var class_str_sortby_tlm = sortby?'':'active'

            ul.pagination.NavigationPaging
              - var page = paging?paging.page:null
              li(class="#{class_str_all}")
                a(href='#{toQueryString({cat})}') 俱

              li(class="#{class_str_digest}")
                a(href='#{toQueryString({cat, digest: true})}') 精

            ul.pagination.NavigationPaging
              li(class='#{class_str_sortby_tlm}')
                a(href='#{toQueryString({cat, digest})}') 复序
              li(class='#{class_str_sortby_toc}')
                a(href='#{toQueryString({cat, digest, sortby: "toc"})}') 帖序


          hr.hrNarrowSpace
          for thread in data.indexThreads
            include interface_index_singlethread
          nav
            include interface_navigation_paging.jade

      .col-md-3.hidden-xs.hidden-sm
        .nkcpanel
          include forum_logo_wisdom

        -var user = data.user
        if user
          include interface_thread_userpatch.jade
        if !data.permittedOperations.getLatestPosts || data.permittedOperations.viewQuestions
          .nkcpanel
            if !data.permittedOperations.getLatestPosts
              :markdown
                普通会员不能进入特种技术板块，请点击这里[参加考试](/register?getcode=true)，升级高级会员
            if data.permittedOperations.viewQuestions
              :markdown
                科创题库现已面向1学术分以上会员开放。为科创入站测试[添加你的题目](/api/operation?&operation=viewQuestions)吧！

        .nkcpanel 一周活跃用户
          div
            for user in data.activeUsers
              div(style='padding: 5px; width: 90px; display: inline-block;position: relative;text-align: center;')
                img(src='/avatar/#{user.uid}' style='width:80px;height:80px;border-radius:6px;')
                a(href='user_profile/'+ user.uid style='display: inline-block;overflow: hidden;height: 1.2em;') #{user.username}
                span(style='color: #d6571c; margin-right: 0; display: inline-block;overflow: hidden;') (帖:#{user.lWThreadCount} 复:#{user.lWPostCount})
        for cForum in data.indexForumList
          .nkcpanel
            div(style='text-align: center; font-size: 16px; margin-left: -15px;')
              div(style='background-color: #{cForum.color}').HomeForumTitleCircle
              a(href='f/#{cForum._key}') #{cForum.display_name}
            hr.hrNarrowSpace
            for child in cForum.children
              div
                a(href='f/#{child._key}' style='font-size: 15px;') #{child.display_name}
                span(style='color: #d6571c;') (新:#{child.count_posts_today} 总:#{child.count_posts})
                if child.description != null
                  -var description = child.description
                  p(style='color: grey;') &nbsp;&nbsp;#{description}
      .row
        .col-md-12
          include nkc_friendlies.jade
block scripts
  script(src='/interface_common.js')
  script(src='/gallery.js')
  script(type='text/javascript') $(document).ready(function () {if($(window).width() < 900){$('.ForumThreadStat').css('font-size','7px');}});