extends bootstrap_base.jade

block title
  title 注册测试 - 科创论坛
  
block content
  
  .container
    .row
      if data.result
        .col-xs-12
          h1 测试完成
          if data.result.length>10
            //if success
            .f12
              text 恭喜你通过测试。你的注册码是: 
              a(href='/register?code=#{data.result}') #{data.result}
              text &nbsp←点击跳转到注册页面。
          else
            //if failed
            .f12
              :markdown
                很遗憾，你没有通过测试啦……但没有关系，你同样可以去
                [科学松鼠会](http://songshuhui.net/) 或者 [果壳网](http://guokr.com)
                看看，也许这些地方比科创更适合你。
                
                如果你还想再测一次，请点[这里](/exam)，而不要按浏览器的“退后”。
                
                ----
                来自服务器的反馈：
                ```
                #{data.detail}
                ```
              
      if data.exam
        .col-xs-12
          h1 欢迎来到科创论坛注册测试（暨科学素养测验）
          hr
          div.f12
            p
              span.reddish 注：请使用最先进的浏览器作为科研工具。新科创论坛支持最新版本的IE、Chrome、Safari。浏览器版本过低、使用“兼容”模式，或使用360等贴牌浏览器会导致答卷无法提交。
             
            p 本测试主要考察逻辑思维与解决问题能力，所涉及的绝大多数知识性内容位于公共领域。请认真思考及动手搜索后再回答。
            p 如果45分钟内未提交答案，当前题目将失效，遇到这种情况请刷新页面后再测。
            p 通过测试后将获得注册码。同一IP地址在12小时内再次通过测试的，不会获得注册码。
            p 已注册的老用户通过测试后可继续发帖。
            br
          .panel.panel-default.f12
            .panel-body
              meta(id='number_of_questions' value='#{data.exam.qarr.length}')
              each q,index in data.exam.qarr
                p #{index+1}. #{q.question}
                case q.type
                  when 'ans'
                    input(type='text' id='answer#{index}')
                  when 'ch4'
                    - var prefixes = ['A','B','C','D']
                    each c,cindex in q.choices
                      meta(id='answer#{index}')
                      //set value when chosen
                      p
                        input(type='radio' name='answer#{index}' value='#{cindex}' onclick='geid("answer#{index}").value=#{cindex}')
                        text #{prefixes[cindex]}.  #{c}
                      
                hr
              button#submit.btn.btn-default 交卷
            
            meta(id='exam' exam-object='#{encodeURI(JSON.stringify(data.exam))}')
      
    
  
  include debug_output.jade
block scripts
  
  script(src='/interface_common.js')
  script(src='/interface_exam.js')
