//nav.navbar.navbar-default
div
  - var navbar = data.navbar || {}
  .container-fluid
    .row(style='background-color:#f3f3f3;margin-bottom: 10px; padding-bottom: 3px;border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;')
      .col-xs-6.col-sm-2
      
        div.text-center(style='margin-top:9px; margin-bottom:0px')
          a.f16(href='/' style='text-decoration: none;') #{data.site.name}
      
      .col-xs-6.col-sm-4
        ul.pagination(style='margin-top:8px; margin-bottom:0px')
          li(class="#{navbar.highlight=='tools'?'active':''}")
            a(href='/static/tools/index.htm') 工具
          li(class="#{navbar.highlight=='pano'?'active':''}")
            a(href='/pano') 广场
        if 0
          li(class="#{navbar.highlight=='editor'?'active':''}")
            a(href='/e') 著
          
        if 0
          li(class="#{navbar.highlight=='uploader'?'active':''}")
            a(href='#') 传
      
      .col-xs-8.col-sm-3
        .row(style='margin-top:8px;')
          .col-xs-9(style='padding-right:0px')
            input#SearchBox.form-control(type='text',placeholder='搜索' style='')
          .col-xs-3(style='padding-left:4px;')
            button#SearchButton.btn.btn-default(style='float:left') 搜索
      
      .col-xs-4.col-sm-3
        .NavBarLinkArea.f12.text-center
          if data.user
            - var user = data.user
            a(href='/me') #{user.username}
            
            if data.permittedOperations.viewSMS
              a(href='/sms')
                span 信
              
                if data.user.new_message
                  -var new_message = data.user.new_message||0
                  span.reddish (#{new_message})
            
            if data.permittedOperations
              if data.permittedOperations.viewExperimental
                a(href='/experimental') 管
            
            a(href='/logout') 退
            
          else
            a(href='/login') 登录
            a(href='/register') 注册
          
