style.
  .navbar {
    margin-bottom:15px;
  }

//nav.navbar.navbar-default
div
  - var navbar = data.navbar || {}
  .container-fluid
    .row(style='background-color:#f3f3f3;margin-bottom: 10px; padding-bottom: 3px;border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;')
      .col-xs-12.col-sm-2
      
        div.text-center(style='margin-top:9px; margin-bottom:0px')
          a.f16(href='/' style='text-decoration: none;') #{data.site.name}
      
      .col-xs-12.col-sm-4
        ul.pagination(style='margin-top:8px; margin-bottom:0px')
          li(class="#{navbar.highlight=='tools'?'active':''}")
            a(href='/static/tools/index.htm') 器
          li(class="#{navbar.highlight=='pano'?'active':''}")
            a(href='/pano') 学
          li(class="#{navbar.highlight=='editor'?'active':''}")
            a(href='/e') 著
          li(class="#{navbar.highlight=='uploader'?'active':''}")
            a(href='/interface/uploader') 传
      
      .col-xs-8.col-sm-4
        .row(style='margin-top:8px;')
          .col-xs-9(style='padding-right:0px')
            input#SearchBox.form-control(type='text',placeholder='搜索' style='')
          .col-xs-3(style='padding-left:4px;')
            button#SearchButton.btn.btn-default(style='float:left') 搜索
      
      .col-xs-4.col-sm-2
        .row.f12.text-center
          if data.user
            - var user = data.user
            .col-xs-12(style='margin:13px 0;')
              a(href='/me' style='margin-right:13px;') #{user.username}
              a(href='/logout') 退
              if data.permittedOperations
                if data.permittedOperations.viewExperimental
                  a(href='/experimental' style='margin-left:13px;') 管
              
          else
            .col-xs-12(style='margin:13px 0;')
              a(href='/login') 登
          
