
case q.type
  when 'ans'
    p
      text.red 问答题：
      text #{q.question}
      text.lighttext   #{q.username} - #{fromNow(q.toc)}创建
    p 
      text 答案：
      text.green #{q.answer}
  
  when 'ch4'
    p
      text.red 选择题：
      text #{q.question}
      text.lighttext   #{q.username} - #{fromNow(q.toc)}创建
    p
      text 答案：
      each a,index in q.answer
        if index==0
          text.green #{index+1}. #{a} 
        else
          text &nbsp;
          text #{index+1}. #{a} 
          
if q.uid == data.user._key
  button.btn.btn-default(onclick="remove_question('#{q._key}')") 删掉
- var qstr = q.question;
- if(q.type=='ch4')for(i in q.answer){qstr+='\n$'+q.answer[i]};
- if(q.type=='ans')qstr+='\n$'+q.answer;
- qstr = encodeURI(qstr);

button.btn.btn-default(onclick="load_question(decodeURI('#{qstr}'))") 复制到输入
