extends bootstrap_base

block title
  title #{data.user.username} - 科创论坛
  style.
    .dynamic {
      width: 100%;
      padding: 5px;
      height: 80px;
    }
    .dynamic-info {
      display: inline-block;
      height: 70px;
      vertical-align: middle;
      width: 80%;
    }
    .dynamic-title {
      font-size: 20px;
    }
    .dynamic-content {
      color: grey;
      overflow: hidden;
      height: 40px;
    }
    .dynamic-type {
      width: 8%;
      display: inline-block;
      vertical-align: middle;
    }
    .dynamic-user {
      display: inline-block;
      width: 8%;
      vertical-align: middle;
      overflow: hidden;
    }


block content
  .container
    if data.user == undefined
      .row
        .col-sm-12
          span 个人信息暂时不对游客公开,请先
          a.alert-info(href='/login') 登录
          span 或
          a.alert-info(href='/register') 注册
          span 以继续浏览

    else
      hr.hrNarrowSpace
      for obj in data.dynamics
        -var type
          if obj.type == 1
            -type = 'Po'
          else if obj.type == 2
            -type = 'Re'
        -var forum = obj.forum || obj.toMyForum || obj.myForum
          .dynamic
            .dynamic-type
              div(style='font-size: 30px;') #{type}
              div(style='color: silver;') #{fromNow(obj.time)}
            .dynamic-user
              a(href='/m/#{obj.user._key}')
                img(src='/avatar/#{obj.user._key}' style='width: 50px; height: 50px;')
              a(href='/m/#{obj.user._key}') #{obj.user.username}
            .dynamic-info
              .dynamic-title
                if(obj.forum)
                  a(href='/f/#{obj.forum._key}')
                    span(style='border-radius: 2px; background-color: #{forum.color}; color: white; font-size: 15px; margin: 3px 3px;') &nbsp;#{forum.abbr}&nbsp;
                if(obj.toMid)
                  a(href='/m/#{obj.toMyForum._key}')
                    span(style='border-radius: 2px; background-color: #{forum.color}; color: white; font-size: 15px; margin: 3px 3px;') &nbsp;#{forum.abbr}&nbsp;
                if(obj.mid)
                  a(href='/m/#{obj.myForum._key}')
                    span(style='border-radius: 2px; background-color: #{forum.color}; color: white; font-size: 15px; margin: 3px 3px;') &nbsp;#{forum.abbr}&nbsp;
                a(href='/t/#{obj.tid}')
                  span(style='overflow: hidden;') #{obj.oc.t}
              a(href='/t/#{obj.tid}##{obj.pid}' style='overflow: hidden;')
                .dynamic-content #{obj.post.c}
          hr.hrNarrowSpace

